<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #registroForm="ngForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Crear cuenta</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="data.email"
            name="email"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="data.password"
            name="password"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="data.confirmPassword"
            name="confirmPassword"
            required
          ></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="register(registroForm)" class="ion-margin-top">
          Registrarse
        </ion-button>

        <ion-button expand="block" fill="clear" (click)="loggear()">
          Ya tengo una cuenta
        </ion-button>

      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
