.centered-icon {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.action-buttons {
  margin-top: 2rem;
}

.mensaje-exito {
  margin-top: 2rem;
}

.note {
  font-size: 0.9rem;
  margin-top: 2rem;
}